### Kaggle Exercise 1: Deep Neural Network by using keras sequential model

### Training Set & Test Set 생성

In [31]:
import tensorflow as tf
import numpy as np
import keras

import matplotlib.pyplot as plt
import pandas as pd

In [32]:
concrete = pd.read_csv('C:/Users/Kyungae_Yoon/Desktop/Kaggle/Exercise/Dataset/concrete.csv')

In [33]:
concrete.head()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,141.3,212.0,0.0,203.5,0.0,971.8,748.5,28,29.89
1,168.9,42.2,124.3,158.3,10.8,1080.8,796.2,14,23.51
2,250.0,0.0,95.7,187.4,5.5,956.9,861.2,28,29.22
3,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
4,154.8,183.4,0.0,193.3,9.1,1047.4,696.7,28,18.29

In [34]:
concrete.describe()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [35]:
concrete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cement        1030 non-null   float64
 1   slag          1030 non-null   float64
 2   ash           1030 non-null   float64
 3   water         1030 non-null   float64
 4   superplastic  1030 non-null   float64
 5   coarseagg     1030 non-null   float64
 6   fineagg       1030 non-null   float64
 7   age           1030 non-null   int64
 8   strength      1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [36]:
# generating training set & test set

# training set

#input_shape = concrete[['cement', 'slag', 'ash', 'water', 'superplastic', 'coarseagg', 'fineagg', 'age']]
#target_shape = concrete['strength']

concrete_x_train = concrete.drop(['strength'], axis=1)
concrete_y_train = concrete['strength']

In [37]:
concrete_x_train

      cement   slag    ash  water  superplastic  coarseagg  fineagg  age
0      141.3  212.0    0.0  203.5           0.0      971.8    748.5   28
1      168.9   42.2  124.3  158.3          10.8     1080.8    796.2   14
2      250.0    0.0   95.7  187.4           5.5      956.9    861.2   28
3      266.0  114.0    0.0  228.0           0.0      932.0    670.0   28
4      154.8  183.4    0.0  193.3           9.1     1047.4    696.7   28
...      ...    ...    ...    ...           ...        ...      ...  ...
1025   135.0    0.0  166.0  180.0          10.0      961.0    805.0   28
1026   531.3    0.0    0.0  141.8          28.2      852.1    893.7    3
1027   276.4  116.0   90.3  179.6           8.9      870.1    768.3   28
1028   342.0   38.0    0.0  228.0           0.0      932.0    670.0  270
1029   540.0    0.0    0.0  173.0           0.0     1125.0    613.0    7

[1030 rows x 8 columns]

In [38]:
concrete_y_train

0       29.89
1       23.51
2       29.22
3       45.85
4       18.29
        ...
1025    13.29
1026    41.30
1027    44.28
1028    55.06
1029    52.61
Name: strength, Length: 1030, dtype: float64

In [39]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(concrete_x_train, concrete_y_train, test_size=0.3, random_state=83)

In [40]:
print(x_train)

      cement   slag    ash  water  superplastic  coarseagg  fineagg  age
252    153.0  239.0    0.0  200.0           6.0     1002.0    684.0   28
492    145.4    0.0  178.9  201.7           7.8      824.0    868.7   28
329    304.0   76.0    0.0  228.0           0.0      932.0    670.0   28
22     236.0  157.0    0.0  192.0           0.0      972.6    749.1    7
717    168.9   42.2  124.3  158.3          10.8     1080.8    796.2    3
...      ...    ...    ...    ...           ...        ...      ...  ...
16     237.5  237.5    0.0  228.0           0.0      932.0    594.0   28
648    266.2  112.3   87.5  177.9          10.4      909.7    744.5   28
255    322.0    0.0    0.0  203.0           0.0      974.0    800.0   14
1000   165.0    0.0  143.6  163.8           0.0     1005.6    900.9  100
82     277.0    0.0    0.0  191.0           0.0      968.0    856.0   90

[721 rows x 8 columns]

In [50]:
x_train = x_train['cement']

In [64]:
x_train.isna()

252     False
492     False
329     False
22      False
717     False
        ...
16      False
648     False
255     False
1000    False
82      False
Name: cement, Length: 721, dtype: bool

In [52]:
x_test = x_test['cement']

In [65]:
x_test.isnull()

1015    False
505     False
819     False
682     False
79      False
        ...
901     False
839     False
785     False
423     False
872     False
Name: cement, Length: 309, dtype: bool

### Keras Sequential Model 생성

In [54]:
from tensorflow import keras
from tensorflow.keras import layers

# generating sequential model

model = keras.models.Sequential()

print(type(model))

<class 'keras.engine.sequential.Sequential'>

### Model의 Node 구성

In [66]:
# define nodes of model

# - input과 output이 각각 한 개인 node를 만들어서 model에 넣어준다
model.add(keras.layers.Dense(units=1, input_shape=(1,)))

model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 1)                 2

 dense_5 (Dense)             (None, 1)                 2

=================================================================
Total params: 4
Trainable params: 4
Non-trainable params: 0
_________________________________________________________________

### Model 학습

In [61]:
# compiles model

# - SGD optimizer & mse loss function used
model.compile('SGD', 'mse')

# - train model
model.fit(x_train, y_train, epochs = 10, verbose  = 1)

Epoch 1/10
23/23 [==============================] - 0s 1ms/step - loss: nan
Epoch 2/10
23/23 [==============================] - 0s 2ms/step - loss: nan
Epoch 3/10
23/23 [==============================] - 0s 2ms/step - loss: nan
Epoch 4/10
23/23 [==============================] - 0s 2ms/step - loss: nan
Epoch 5/10
23/23 [==============================] - 0s 2ms/step - loss: nan
Epoch 6/10
23/23 [==============================] - 0s 1ms/step - loss: nan
Epoch 7/10
23/23 [==============================] - 0s 2ms/step - loss: nan
Epoch 8/10
23/23 [==============================] - 0s 2ms/step - loss: nan
Epoch 9/10
23/23 [==============================] - 0s 1ms/step - loss: nan
Epoch 10/10
23/23 [==============================] - 0s 2ms/step - loss: nan

### Model 평가하기

In [60]:
model.evaluate(x_test, y_test, batch_size=)

4/4 [==============================] - 0s 2ms/step - loss: nan

nan

In [ ]:


model = keras.Sequential([layers.Dense(32, activation='relu', input_shape=[8]), 
                         layers.Dense(32, activation='relu'),
                         layers.Dense(1)
                         ])

In [ ]:
model